



/* ----- BACKGROUND ----- */
.cinemagraphs .detail-wrapper{
	background-color: #f0f0f0;
}

/* ----- HEADER ----- */
.cinemagraphs .detail-header--work:before{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,0)), color-stop(50%,rgba(240,240,240,0)), color-stop(100%,rgba(240,240,240,0)));
	background-image: -webkit-linear-gradient(rgba(240,240,240,0) 50%,  #f0f0f0 100%);
	background-image: -moz-linear-gradient(rgba(240,240,240,0) 50%,  #f0f0f0 100%);
	background-image: -o-linear-gradient(rgba(240,240,240,0) 50%,  #f0f0f0 100%);
	background-image: linear-gradient(rgba(240,240,240,0) 50%,  #f0f0f0 100%);
}

/* ----- CLIENT ----- */
.cinemagraphs .detail-content__header__client {
color: black;
}

/* ----- HEADLINE ----- */
.cinemagraphs .detail-content__header__project-name {
color: #505050;
}

/* ----- YEAR ----- */
.detail-content__header__year{
  color: #909090;
}

.detail-content__header__year::before, .detail-content__header__year::after {
background-color: #b7b5b4;
}

/* ----- DESCRIPTION ----- */
.cinemagraphs .detail-content__header__desc {
color: #333333;
}




/* ----- ENDMARK ----- */
.end-mark {
  color: #839097;
}

/* ----- SHARE ----- */
.cinemagraphs .detail-footer__connect__link__short-tiny-url {
	background-color: #bb3333;
	color: #f0d2d2;
}

.cinemagraphs .detail-footer__connect__link__mail-icon {
	background-color: #c24949;
	color: #f0d2d2;
}



/* --------- COMMENTS ---------- */

.comments_wrapper {
  border-top: 5px solid #839097;
}

