


/* ----- BACKGROUND COLOR ----- */
.cuba .detail-content, .detail-information, .detail-nav, .detail-nav__link-list__item__link {
	background-color: #f1f1f1;
}


/* ----- LEAD IN TEXT ----- */
.cuba .detail-content__tagline {
color: #c51516;
}


/* ----- CONTENT TEXT ----- */
.cuba .detail-content__body__section__content p {
color: #999999;
} 




/* ------------------------------ FOOTER ------------------------------ */

/* - Title - */
.cuba .detail-information__row h2 {
color: #303133;
}

/* - Text - */
.cuba .detail-information__row p {
color: #999999	;
}

/* - Link & Social- */
.cuba .detail-information__row a {
    color: #999999; }

.cuba .detail-information__row a:visited {
    color: #999999;
}

.cuba .detail-information__row a:hover {
    color: #bbc1c3;
}

.cuba .detail-information__row a:active {
    color: #e0eaec;
}

/* ----------------------------------- /FOOTER ------------------------------ */


/* ------------------------------ NAVIGATE ------------------------------ */


/* - Border - */
.cuba .detail-nav__link-list {
border-color: #999999;
}

.cuba .detail-nav__link-list__item__link {
border-right-color:	#999999;
}



/* - Title - */
.cuba .detail-nav h2 {
color: #eaebeb;
}

/* - Text - */
.cuba .detail-nav p {
color: #999999	;
}

/* - Link & Social- */
.cuba .detail-nav a {
    color: #999999; }

.cuba .detail-nav a:visited {
    color: #999999;
}

.cuba .detail-nav a:hover {
    color: #bbc1c3;
}

.cuba .detail-nav a:active {
    color: #e0eaec;
}

/* ----------------------------------- /NAVIGATE ------------------------------ */









