


/* ----- BACKGROUND COLOR ----- */
.freyeaster .detail-content, .detail-information, .detail-nav, .detail-nav__link-list__item__link {
	background-color: #75a12a;
}


/* ----- LEAD IN TEXT ----- */
.freyeaster .detail-content__tagline {
color: #f1f6ea;
}


/* ----- CONTENT TEXT ----- */
.freyeaster .detail-content__body__section__content p {
color: #c8d9aa;
} 




/* ------------------------------ FOOTER ------------------------------ */

/* - Title - */
.freyeaster .detail-information__row h2 {
color: #f1f6ea;
}

/* - Text - */
.freyeaster .detail-information__row p {
color: #c8d9aa	;
}

/* - Link & Social- */
.freyeaster .detail-information__row a {
    color: #c8d9aa; }

.freyeaster .detail-information__row a:visited {
    color: #c8d9aa;
}

.freyeaster .detail-information__row a:hover {
    color: #dfecc7;
}

.freyeaster .detail-information__row a:active {
    color: #ffffff;
}

/* ----------------------------------- /FOOTER ------------------------------ */



/* ------------------------------ NAVIGATE ------------------------------ */


/* - Border - */
.freyeaster .detail-nav__link-list {
border-color: #c8d9aa;
}

.freyeaster .detail-nav__link-list__item__link {
border-right-color:	#c8d9aa;
}



/* - Title - */
.freyeaster .detail-nav h2 {
color: #f1f6ea;
}

/* - Text - */
.freyeaster .detail-nav p {
color: #c8d9aa	;
}

/* - Link & Social- */
.freyeaster .detail-nav a {
    color: #c8d9aa; }

.freyeaster .detail-nav a:visited {
    color: #c8d9aa;
}

.freyeaster .detail-nav a:hover {
    color: #bbc1c3;
}

.freyeaster .detail-nav a:active {
    color: #e0eaec;
}

/* ----------------------------------- /NAVIGATE ------------------------------ */

