

/* ------------------------------ NAVIGATE ------------------------------ */


/* - Hidden Links- */
.journal-standard a.hidden:link {
    color: #666666; }

.journal-standard a.hidden:visited {
    color: #666666;
}

.journal-standard a.hidden:hover {
    color: #5259d4;
}

.journal-standard a.hidden:active {
    color: #9094e4;
}


/* ----------------------------------- /NAVIGATE ------------------------------ */




/* ----------------------------------- /COPY ------------------------------ */



strong {
	font-weight: 600;
	color: #303133;
}


h6 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    padding: 24px 0 12px 0;
    color: #303133;
    font-weight: 800;
} 

/* ----------------------------------- /COPY ------------------------------ */






/* ------------------------------ QUOTE ------------------------------ */


blockquote {
    border-left: 4px solid #5259d4;
    color: #303133;
    font-style: italic;
    margin: 30px 0 30px 15px;
    padding-left: 20px;
    font-size: 21px
} 

/* ------------------------------ /QUOTE ------------------------------ */





/* ------------------------------ SEPARATOR ------------------------------ */


hr { 
	width:	100%;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 1px solid #e6e8eb;
}


/* ----------------------------------- /SEPARATOR ------------------------------ */










