
/* ------------------------------ BODY ------------------------------ */

body{
    -moz-osx-font-smoothing: grayscale;   /*o Only Firefox */
}


/*
::selection {
    color: white;
    background: #5259d4;
}

::-moz-selection {
    color: white;
    background: #5259d4;
}
*/

/* ------------------------------ NAVIGATE ------------------------------ */





/* ----------------------------------- /NAVIGATE ------------------------------ */




/* ------------------------------ HEADER ------------------------------ */

.video-container {
    opacity: 0.8;
}

/* ----------------------------------- /HEADER ------------------------------ */




/* ------------------------------ COPY ------------------------------ */


/*  Link ------------------------------ 

i>a {
    text-decoration: none;
    color: #5259d4;
}

i>a:hover {
    text-decoration: underline;
}

i>a:active {
    color: #9094e4;
}

*/


/* - Hidden Links- */
.mugi-base-2 a.hidden:link {
    color: #666666; }

.mugi-base-2 a.hidden:visited {
    color: #666666;
}

.mugi-base-2 a.hidden:hover {
    color: #5259d4;
}

.mugi-base-2 a.hidden:active {
    color: #9094e4;
}




/*  Decoration ------------------------------ 

strong {
    font-weight: 600;
    color: #303133;
}


i {
    font-style: italic;
}
*/

/*  Paragraphs ------------------------------ */

em, p {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: #5c6066;
    padding: 0px 0 24px 0;
    margin: 0;
}

    @media (max-width: 640px){
        em, p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 0px 0 18px 0;
        }
    }



p.lead {
    font-size: 24px;
    line-height: 36px;
    color: #5259d4;
    padding: 0px 0 36px 0;
    margin: 0;
}

    @media (max-width: 640px){
        p.lead {
            font-size: 21px;
            line-height: 30px;
            padding: 0px 0 24px 0;
        }
    }


p.footnote {
    font-size: 13px;
    line-height: 16px;
    color: #8a9099;
    padding: 0px 0 12px 0;
    margin: 0;
}

    @media (max-width: 640px){
        p.footnote {
            font-size: 11px;
            line-height: 13px;
            padding: 0px 0 12px 0;

        }
    }


/*  Titles ------------------------------ */


h1, h2, h3, h4, h5 { 
    color: #303133;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;

}


h1 {
    font-size: 48px;
    line-height: 48px;
    padding: 48px 0 24px 0;
}
    @media (max-width: 640px){
        h1 {
            font-size: 30px;
            line-height: 30px;
            padding: 36px 0 21px 0;
        }
    }


h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 48px 0 18px 0;
}
    @media (max-width: 640px){
        h2 {
            font-size: 24px;
            line-height: 30px;
            padding: 24px 0 16px 0;
        }
    }



h3 {

    font-size: 18px;
    line-height: 18px;
    padding: 24px 0 12px 0;
}
    @media (max-width: 640px){
        h3 {
            font-size: 16px;
            line-height: 16px;
            padding: 24px 0 12px 0;
        }
    }


h4 {
    font-size: 11px;
    line-height: 11px;
    padding: 24px 0 6px 0;
} 

/*  Quotes ------------------------------ */


blockquote {
    border-left: none;
    color: #303133;
    font-style: italic;
    margin: 30px 0;
    padding-left: 0;
    font-size: 21px
}

    @media (max-width: 640px){
        blockquote {
            margin: 18px 12px;
    /*      padding-left: 12px;  */
            font-size: 18px
        }
    }

/*

blockquote cite {
    display: block;
    font-size: 11px;
    line-height: 11px;
    font-style: normal;
    color: #303133;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0;
    padding: 8px 0 0 0;
}

    blockquote cite:before {
    content: "\2014 \2009";
}

*/

/*  Code ------------------------------ 

code {
	font-family: "Courier New", monospace;
	font-weight: bold;
	font-size: 12px;
	border-radius: 3px;
	padding: 4px 8px 2px 8px;
	color: #303133;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: white;
}
*/


/*  Lists ------------------------------ */


ul, ol{
    -webkit-padding-start: 40px;
    -moz-padding-start: 40px;

    color: #303133;
    font-weight: 600;
    font-size: 19px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

    @media (max-width: 640px){
        ul, ol {
            -webkit-padding-start: 30px;
            font-size: 16px;
        }
    }


li{
}

ul{
    list-style: disc;
}

ol {
    list-style: decimal;
}


/*  List Debugging ------------------------------ */

.share-menu {
    -webkit-padding-start: 0;
    -webkit-padding-end: 16px;

}

.footer__list, .social-links {
    -webkit-padding-start: 0;
}

/* ------------------------------ /COPY ------------------------------ */



/* ------------------------------ IMAGES ------------------------------ */

img{
    width: 100%;
}

/* ------------------------------ /IMAGES ------------------------------ */



/* ------------------------------ BUTTONS ------------------------------ */


.btn, .btn:hover {
	border: none;
    display: inline-block;
    border-radius: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    margin: 12px 0 12px 0;
}


.btn-l {
    height:     64px;
    padding:    24px 64px;
    font-size:  13px;
}

.btn-m {
    height:     48px;
    padding:    18px 48px;
    font-size:  11px;
}

.btn-s {
    height:     32px;
    padding:    11px 32px;
    font-size:  9px;
}



/*  Colors / Hovers / Active ------------------------------ */

/* Violet */


.btn-violet{
    color: white;
    background-color: #5259d4;
}

.btn-violet:hover{
    background-color: #3e44bb;
}

.btn-violet:active{
    color: white;
    background-color: #5259d4;
}

/* Dark */

.btn-dark{
    color: white;
    background-color: #303133;
}

.btn-dark:hover{
    background-color: #18181a;
}

.btn-dark:active{
    color: white;
    background-color: #303133;
}

/* Grey */

.btn-grey{
	color: #303133;
    background-color: #bcc2cc;
}

.btn-grey:hover{
    background-color: #b1b8c5;
}

.btn-grey:active{
	color: #303133;
    background-color: #bcc2cc;
}

/* White */

.btn-white{
	color: #303133;
    background-color: #ffffff;
}

.btn-white:hover{
    background-color: #ffffff;
    opacity: 0.8;
}

.btn-white:active{
	color: #303133;
    background-color: #ffffff;
    opacity: 1;

}

/* Transparent */

.btn-trans{
    color: rgba(48, 49, 51, 1);
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.2);
    background-color: rgba(255, 255, 255, 0);
}

.btn-trans:hover {
    color: rgba(48, 49, 51, 0.8);
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
}

.btn-trans:active {
    color: rgba(48, 49, 51, 1);
    border: 1px solid;
    border-color: rgba(128, 128, 128, 0.2);
    background-color: rgba(255, 255, 255, 0);
}



/* ------------------------------ /BUTTONS ------------------------------ */

/* ------------------------------ INPUT ------------------------------ */


.form {
    padding: 0;
   /* font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
    font-family: "proxima-nova";
    font-size: 19px;
    font-weight: 400;
}
.form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form input[type=text], 
.form input[type=date],
.form input[type=datetime],
.form input[type=number],
.form input[type=search],
.form input[type=time],
.form input[type=url],
.form input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form input[type=text]:focus, 
.form input[type=date]:focus,
.form input[type=datetime]:focus,
.form input[type=number]:focus,
.form input[type=search]:focus,
.form input[type=time]:focus,
.form input[type=url]:focus,
.form input[type=email]:focus,
.form textarea:focus, 
.form select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form .field-left{
    width: 49%;
}

.form .field-right{
    width: 49%;
}

.form .field-long{
    width: 100%;
}
.form .field-select{
    width: 100%;
}
.form .field-textarea{
    height: 100px;
}
.form input[type=submit], .form input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form input[type=submit]:hover, .form input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form .required{
    color:red;
}

/* ------------------------------ /INPUT ------------------------------ */




/* ------------------------------ LAYOUT ------------------------------ */


.one-column {
    margin: 20px auto;
    max-width: 640px;
    padding: 0;
}

.one-column {
    margin: 20px auto;
    max-width: 640px;
    padding: 0;
}
    @media (max-width: 640px){
        .one-column {
        margin: 20px;
        }
    }


/* ------------------------------ /LAYOUT ------------------------------ */


/* ------------------------------ FOOTER ------------------------------ 


@media (max-width: 640px){
    .footer .footer__body{
        width: 100%;
        padding: 0 20px;
    }
}


/* ------------------------------ /FOOTER ------------------------------ */



/* ------------------------------ SEPARATOR ------------------------------ */


hr { 
    width: 100%;
    display: block;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: 1px solid #e6e8eb;
}
    @media (max-width: 640px){
        hr {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }


hr.empty { 
    width: 100%;
    display: block;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
    @media (max-width: 640px){
        hr.empty {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }


/* ----------------------------------- /SEPARATOR ------------------------------ */

/* ------------------------------ WORK LIST ------------------------------ */



.work-list {
    padding: 0;
}

.work-list-link {
    text-decoration: none;
}

.work-list-title {
    padding: 12px 0 0px 0;
}

.work-list__item {
	opacity: 1.0;
	position: relative;
    float: left;
    width: 49.00%;   
    margin: 0 1.5% 2% 0;
}

.work-list__item:hover {
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* ------------------------------ /WORK LIST ------------------------------ */


/* ------------------------------ JOURNAL LIST ------------------------------ */

.journal-list {
    padding: 0;
    float: left;
}

.journal-list-link {
    text-decoration: none;
}

.journal-list-title {
    padding: 12px 0 0px 0;
}

.journal-list__item {
	opacity: 1.0;
}

.journal-list__item:hover {
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* ------------------------------ /JOURNAL LIST ------------------------------ */



/* ------------------------------ MAILCHIMP ------------------------------  */


#mc_embed_signup #mce-success-response #mce-error-response  {
    font-family: "proxima-nova";
    font-style: normal;
    font-weight: 400;
}

#mce-success-response{
    color: #78C32D;
}

#mce-error-response  {
    color: #DD6271;
}

#mc_embed_signup #mce-EMAIL {
    font-size: 17px;
    letter-spacing: 0px;
}

/* ------------------------------ /MAILCHIMP ------------------------------  */


