


/* ----- BACKGROUND COLOR ----- */
.navyboot .detail-content, .detail-information, .detail-nav, .detail-nav__link-list__item__link {
	background-color: #221e1f;
}


/* ----- LEAD IN TEXT ----- */
.navyboot .detail-content__tagline {
color: #d3d2d2;
}


/* ----- CONTENT TEXT ----- */
.navyboot .detail-content__body__section__content p {
color: #7a7879;
} 




/* ------------------------------ FOOTER ------------------------------ */

/* - Title - */
.navyboot .detail-information__row h2 {
color: #d3d2d2;
}

/* - Text - */
.navyboot .detail-information__row p {
color: #7a7879	;
}

/* - Link & Social- */
.navyboot .detail-information__row a {
    color: #7a7879; }

.navyboot .detail-information__row a:visited {
    color: #7a7879;
}

.navyboot .detail-information__row a:hover {
    color: #bbc1c3;
}

.navyboot .detail-information__row a:active {
    color: #e0eaec;
}

/* ----------------------------------- /FOOTER ------------------------------ */


/* ------------------------------ NAVIGATE ------------------------------ */


/* - Border - */
.navyboot .detail-nav__link-list {
border-color: #7a7879;
}

.navyboot .detail-nav__link-list__item__link {
border-right-color:	#7a7879;
}



/* - Title - */
.navyboot .detail-nav h2 {
color: #eaebeb;
}

/* - Text - */
.navyboot .detail-nav p {
color: #7a7879	;
}

/* - Link & Social- */
.navyboot .detail-nav a {
    color: #7a7879; }

.navyboot .detail-nav a:visited {
    color: #7a7879;
}

.navyboot .detail-nav a:hover {
    color: #bbc1c3;
}

.navyboot .detail-nav a:active {
    color: #e0eaec;
}

/* ----------------------------------- /NAVIGATE ------------------------------ */









