


/* --------------------------- HEADER ------------------------------ */

/* - Project Title - */
.spruengli h1.detail-header__content__project-name {
color: white;
}

/* - Project Subtitle - */
.spruengli p.detail-header__content__subtitle {
color: white;
}

/* ------------------------------ /HEADER ------------------------------ */


/* ------------------------- CONTENT COLORS ------------------------------ */


/* - Background - */
.spruengli .detail-content, .detail-information, .detail-nav, .detail-nav__link-list__item__link {
	background-color: #1A1C1F;
}

/* - Lead - */
.spruengli p.lead {
color: #B49658;
}

/* - Paragraph, Hidden Link, Share - */
.spruengli p, a.hidden:link, a.hidden:visited, .spruengli .share-menu .share-menu__list-item__link{
color: #737680;
} 

/* - Titles - */
.spruengli h2, h3, h4 {
color: #e6edf2;
}

/* ------------------------- /CONTENT COLORS ------------------------------ */



/* ----------------------------- DETAIL NAV ------------------------------ */


/* - Border - */
.spruengli .detail-nav__link-list, .spruengli .detail-nav__link-list__item__link {
border-color: #999999;
}

/* - States - */
.spruengli .detail-nav a, .detail-nav a:visited {
    color: #F5F7FA;
    background-color: #1A1C1F;
 }

.spruengli .detail-nav a:hover {
    color: #F5F7FA;
    background-color: #999999;
}

.spruengli .detail-nav a:active {
    color: #303133;
    background-color: #F5F7FA;
}

/* ----------------------------- /DETAIL NAV ------------------------------ */



/* ------------------------------ OTHER FIXES ------------------------------ */

.one-column {
margin: 0 auto;
}

/* ------------------------------ /OTHER FIXES ------------------------------ */



