/* --------------------------- HEADER ------------------------------ */

/* - Project Title - */
.dark-theme h1.detail-header__content__project-name {
color: white;
}

/* - Project Subtitle - */
.dark-theme p.detail-header__content__subtitle {
color: white;
}

/* - Video Transparency - */
.video-container {
    opacity: 0.8;
}

/* ------------------------------ /HEADER ------------------------------ */


/* ------------------------- CONTENT COLORS ------------------------------ */


/* - Background - */
.dark-theme .detail-content, .detail-information, .detail-nav, .detail-nav__link-list__item__link {
	background-color: #212224;
}

/* - Lead - */
.dark-theme p.lead {
	color: #F5F7FA;
}

/* - Titles - */
.dark-theme h2, h3, h4 {
	color: #F5F7FA;
}

/* - Paragraph, Hidden Link, Share - */
.dark-theme p, a.hidden:link, a.hidden:visited, .dark-theme .share-menu .share-menu__list-item__link{
	color: #5C6066;
}


/* - Hidden Link Hover - */
a.hidden:hover{
	color: #F5F7FA;
}


/* ------------------------- /CONTENT COLORS ------------------------------ */



/* ----------------------------- DETAIL NAV ------------------------------ */


/* - Border - */
.dark-theme .detail-nav__link-list, .dark-theme .detail-nav__link-list__item__link {
	border-color: #5C6066;
}

/* - States - */
.dark-theme .detail-nav a, .detail-nav a:visited {
    color: #F5F7FA;
    background-color: #212224;
 }

.dark-theme .detail-nav a:hover {
    color: #F5F7FA;
    background-color: #5C6066;
}

.dark-theme .detail-nav a:active {
    color: #303133;
    background-color: #F5F7FA;
}

/* ----------------------------- /DETAIL NAV ------------------------------ */



/* ------------------------------ OTHER FIXES ------------------------------ */

.one-column {
	margin: 0 auto;
}

/* ------------------------------ /OTHER FIXES ------------------------------ */



