/* --------------------------- HEADER ------------------------------ */


/* - Video Transparency - */
.video-container {
    opacity: 0.4;
}

/* ------------------------------ /HEADER ------------------------------ */



/* ------------------------------ OTHER ------------------------------ */

.detail-content {
	display: none;
}

.detail-header__arrow {
	display: none;
}

.footer {
	display: none;
}

/* ------------------------------ /OTHER ------------------------------ */



