


/* ----- BACKGROUND COLOR ----- */
.zurich-by-night .detail-content, .detail-information, .detail-nav, .detail-nav__link-list__item__link {
	background-color: #212225;
}


/* ----- LEAD IN TEXT ----- */
.zurich-by-night p.lead {
color: #d3d3d3;
}


/* ----- CONTENT TEXT ----- */
.zurich-by-night p {
color: #7a7a7c;
} 




/* ------------------------------ FOOTER ------------------------------ */

/* - Title - */
.zurich-by-night .detail-information__row h2 {
color: #d3d3d3;
}

/* - Text - */
.zurich-by-night .detail-information__row p {
color: #7a7a7c	;
}

/* - Link & Social- */
.zurich-by-night .detail-information__row a {
    color: #7a7a7c; }

.zurich-by-night .detail-information__row a:visited {
    color: #7a7a7c;
}

.zurich-by-night .detail-information__row a:hover {
    color: #bbc1c3;
}

.zurich-by-night .detail-information__row a:active {
    color: #e0eaec;
}

/* ----------------------------------- /FOOTER ------------------------------ */


/* ------------------------------ NAVIGATE ------------------------------ */


/* - Border - */
.zurich-by-night .detail-nav__link-list {
border-color: #7a7a7c;
}

.zurich-by-night .detail-nav__link-list__item__link {
border-right-color:	#7a7a7c;
}



/* - Title - */
.zurich-by-night .detail-nav h2 {
color: #d3d3d3;
}

/* - Text - */
.zurich-by-night .detail-nav p {
color: #7a7a7c	;
}

/* - Link & Social- */
.zurich-by-night .detail-nav a {
    color: #7a7a7c; }

.zurich-by-night .detail-nav a:visited {
    color: #7a7a7c;
}

.zurich-by-night .detail-nav a:hover {
    color: #bbc1c3;
}

.zurich-by-night .detail-nav a:active {
    color: #e0eaec;
}

/* ----------------------------------- /NAVIGATE ------------------------------ */









