

// Keyframes Mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

// START CSS Animations

// FadeReveal
@keyframes FadeReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// SlideRevealDown
@keyframes SlideRevealDown {
  0% {
    transform: translateY(-32px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// END CSS Animations

// START JS-Triggered Animations

// Fade In
.js-fade_in {
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  opacity: 0;

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

// Slide Up
.js-slide_up {
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  opacity: 0;

  transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

// Slide Down
.js-slide_down {
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  opacity: 0;

  transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

// Scale In
.js-scale_in {
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  opacity: 0;

  transform: scale(0.8,0.8);
  -ms-transform: scale(0.8,0.8);
  -webkit-transform: scale(0.8,0.8);

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

// Scale Out
.js-scale_out {
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  visibility: hidden;
  opacity: 0;

  transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

// END JS-Triggered Animations


