/***************
*
*  Detail
*
****************/




.detail-img {
	img {
		width: 100%;
	}
}

.detail-wrapper {
	background-color: black;
}

.detail-header {
	position: relative;
	z-index: 800;
	height: 100%;
}

.detail-header--video {
	// padding-bottom: 56.25%;
	// padding-bottom: 50%;
	// height: 0;
	// overflow: hidden;


	// @include breakpoint(mama-bear){
	// 	padding-bottom:71%;
	// 	.video-container{
	// 		width:1280px;
	// 		height:640px;
	// 		top:50%;
	// 		left:50%;
	// 		margin-top:-340px;
	// 		margin-left:-640px;
	// 	}
	// }

	// @include breakpoint(baby-bear){
	// 	padding-bottom:100%;

	// }

	.detail-video-container {
	}

	video {
		// position: absolute;
		// width: 100%;
		// height: auto;
		// top: 50%;
		// left: 50%;
		// -webkit-transform: translate(-50%, -50%);
		// -moz-transform: translate(-50%, -50%);
		// -ms-transform: translate(-50%, -50%);
		// -o-transform: translate(-50%, -50%);
		// transform: translate(-50%, -50%);		
	}
}

.detail-header--img {
	width: 100%;
	height: 100%;
	background: #000;
	overflow: hidden;
}

.detail-header__content {
	width: 720px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -75%);
	-moz-transform: translate(-50%, -75%);
	-ms-transform: translate(-50%, -75%);
	-o-transform: translate(-50%, -75%);
	transform: translate(-50%, -75%);
	text-align: center;
	color: white;

	@include breakpoint(mama-bear) {
		width: 640px;
	}

	@include breakpoint(teen-bear) {
		width: 480px;
	}

	@include breakpoint(baby-bear) {
		width: 100%;
	}
}

.img-container {
}

.detail-header--work:before {
	@include background-image(linear-gradient(top, rgba(255, 255, 255, 0) 50%, #000 100%));
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 120%;
	z-index: 600;
}

.detail-header__arrow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	bottom: 12px;
	left: 50%;
	cursor: pointer;
	margin-left: -28px;
	width: 56px;
	height: 56px;
	display: block;
	z-index: 10;
	text-align: center;
	padding-top: 13px;

	&:before {
		color: white;
		vertical-align: middle;
	}
	border-radius: 48px;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.detail-content {
	position: relative;
	z-index: 800;
	margin: 0 auto;
}

.detail-content--work {
	max-width: none;
	padding: 0;

	.detail-header__content__desc {
		padding: 20px 20px 40px 20px;
	}
}

.detail-content--work {
	margin-top: -20%;
}

.detail-header__content {
	text-align: center;
}

.detail-header__content__subtitle {
	@extend p;
	color: #fff;
	margin: 0;
	padding: 0;
	text-transform: none;
	// opacity: 0.5;	
	// animation: 1s ease-out 0s 1 FadeReveal;
}

.detail-header__content__project-name {
	@extend h1;
	margin: 0;
	padding: 0 20px;
	color: white;
	font-size: 64px;
	line-height: 72px;

	@include breakpoint(baby-bear) {
	font-size: 48px;
	line-height: 56px;
	}
}

.detail-content__body {
	max-width: 1280px;
	padding: 80px 0;
	margin: 0 auto;

	@include breakpoint(grandpapa-bear) {
		padding: 60px 0;
	}
}

.detail-header__content__desc,
.detail-content__body__text {
	width: 860px;
	margin: 0 auto;
	font-size: 30px;
	line-height: 36px;
	font-family: $copy-font;
	color: white;
	padding: 45px 10px;
	@include breakpoint(mama-bear) {
		width: 720px;
		font-size: 24px;
		line-height: 30px;
		padding: 40px 0;
		margin: 0 auto;
	}

	@include breakpoint(teen-bear) {
		width: 100% !important;
		padding: 20px;
	}

	@include breakpoint(baby-bear) {
		font-size: 18px;
		line-height: 24px;
		padding: 20px 0 40px 0;
	}
}

.detail-content__body__text {
	padding: 0 25%;
	font-size: 18px;
	line-height: 30px;
	margin: 1.8em 0;
	@include breakpoint(mama-bear) {
		padding: 0;
		font-size: 18px;
	}

	@include breakpoint(baby-bear) {
		font-size: 16px;
		margin: 1em 0;
	}
}

.detail-content__body__img {
	display: block;
	margin: 50px 0;
	width: 100%;
}

.detail-content__body__row {
	// padding:0 20px;
	width: 100%;
	display: table;

	@include breakpoint(baby-bear) {
		padding: 0px;
	}
}

.detail-content__body__row_has-slideshow {
	table-layout: fixed;
}

.detail-content__body__row__column {
	width: 100%;
	display: table-cell;
	padding: 10px 0;

	img {
		width: 100%;
	}

	&:first-child {
		// padding-top:0;
	}

	@include breakpoint(baby-bear) {
		padding: 0 0 10px 0;
		display: block;
	}

	&.col-1-2 {
		padding-right: 10px;
		padding-left: 10px;
		vertical-align: middle;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&.video-loaded {
			vertical-align: top;
		}

		@include breakpoint(baby-bear) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.h2 {
		padding-top: 0;
	}

	.body_text {
		@include breakpoint(mama-bear) {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.detail-content__body__row__column--text {
	vertical-align: middle;
	// padding:0 25%;

	@include breakpoint(mama-bear) {
		padding: 0;
	}
}

.detail-content__body__row__column--audio {
	padding: 10% 0;
}

.detail-content__body__row__column--video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.detail-content__body__row__column__text__header {
	font-size: 18px;
	line-height: 30px;
	color: #323233;
	margin: 0;

	@include breakpoint(baby-bear) {
		font-size: 16px;
	}
}

.detail-content__body__row__column__text__copy {
	font-family: $copy-font;
	font-size: 19px;
	line-height: 30px;
	color: #666;
	margin: 20px auto;
	max-width: 640px;
	padding: 0;

	@include breakpoint(baby-bear) {
		width: 100%;
		margin-top: 0px;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 21px;
		padding: 0 20px;
	}
}

.detail-footer {
	padding: 30px;
	@include breakpoint(baby-bear) {
		padding: 30px 0;
	}
}



// START Columns

.col-2-3 {
	width: 66.66%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-2 {
	width: 50%;

	&.detail-content__body__row__column--text {
		padding: 0 5%;
		@include breakpoint(baby-bear) {
			padding: 5% 0;
			text-align: center;
		}
	}

	.detail-content__body__row__column__text__copy {
		width: auto;
		margin: 0;
		padding: 0;
	}

	@include breakpoint(baby-bear) {
		width: 100%;
	}
}

.col-1-4 {
	width: 25%;
}

.col-1-8 {
	width: 12.5%;
}

// END Columns

// START States

.work-detail  .detail-content-nav,
.journal-detail .detail-content-nav {
	display: block;
}

.work-detail {
	.footer {
		display: none; // Hide FOOTER on WORK-DETAIL Pages
	}
}

.journal-detail {
	.footer {
		display: none; // Hide FOOTER on JOURNAL-DETAIL Pages
	}
}

.contact {
	.footer {
		display: none; // Hide FOOTER on Contact Page
	}
}

.inprogress-detail {
	.detail-nav{
		display: none; // Hide DETAIL NAV on INPROGRESS Pages
	}
	.detail-next-content-link {
		display: none; // Hide FOOTER on INPROGRESS Page
	}
	.footer {
		display: none; // Hide FOOTER on INPROGRESS Page
	}
}

.detail-wrapper--journal {
	background-color: #f5f7fa;
}

.detail-img {
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms linear, visibility 300ms;

	&.is-image-loaded {
		opacity: 1;
		visibility: visible;
	}
}

.detail-header--work {
	.detail-img {
		opacity: 1;
	}
}


// END States


.detail-content__body__section {
	// position:relative;
	width: 100%;
	// overflow:hidden;
	padding: 64px 0;

	h3 {
		@extend %header;
		text-align: center;
		font-size: 30px;
		@include breakpoint(baby-bear) {
			font-size: 21px;
			margin-bottom: 10px;
		}
	}

	p {
		@extend .detail-content__body__row__column__text__copy;
		@include breakpoint(baby-bear) {
			padding: 0;
		}
	}

	img {
		display: block;
		margin: 0 auto;

		&.responsive {
			max-width: 100%;
			height: auto;
			width: auto;
			@include breakpoint(baby-bear) {
				padding: 0;
			}
		}
	}
	@include breakpoint(baby-bear){
		// padding:10px;
	}
}


/* BOX LIST */
.box-list {
	margin: 50px auto;
	max-width: 1200px;
}

.box-row {
	@extend .cf;
}

.box {
	background-color: white;
	float: left;
	width: 30%;
	height: 220px;
	margin-right: 5%;
	text-align: center;

	&:last-child {
		margin-right: 0;
	}
	padding: 30px;
}

.box__header {
	@extend %header;
}

.box .box__text {
	@extend %copy;
	color: #48494d;
	font-size: 16px;
}

.detail-video {
	height: 100%;
}


/* START Next Content */

.detail-next-content-parent {
	width: 100%;
	height: 480px;
	text-align: center;  /* align the inline(-block) elements horizontally */
	font: 0/0 a;         /* remove the gap between inline(-block) elements */

	background: no-repeat center center;
	background-color: $color-key;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
}

.detail-next-content-parent:hover {
	opacity: 0.8;
}

.detail-next-content-image:hover {
	opacity: 0.8;
}

.detail-next-content-parent:before {    /* create a full-height inline block pseudo-element */
	content: ' ';
	display: inline-block;
	vertical-align: middle; /* vertical alignment of the inline element */
	height: 100%;
}

.detail-next-content-child {
	display: inline-block;
	vertical-align: middle;          /* vertical alignment of the inline element */
}

.detail-next-content-link {
	text-decoration: none;
	display: block;
	background-color: black;
}

.detail-next-content__subtitle {
	margin: 0;
	color: white;
}

.detail-next-content__title {
	margin: 0;
	padding-top: 0;
	color: white;
}

/* END Next Content */




/* START Password Protected */

.post-password-form {
	text-align: center;
	padding-bottom: 120px;
}

.post-password-field {
	padding: 0 12px 0 12px;
	height: 48px;
	border: none;
	border-radius: 4px;
	outline: none;
}


/* END Password Protected */



