/***************
*
*  Footer
*
****************/


.footer {
	text-align: center;
	padding: 40px 0 20px 0;
	background-color: white;

	@include breakpoint(baby-bear) {
		padding-top: 20px;
	}
}

.footer__body {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.footer-main-link {
	@extend h2;
	display: block;
	color: $color-dark;
	font-style: normal;
	text-decoration: none;
	padding: 0 0 6px 0;
}

.footer-main-link:hover {
	color: $color-key;
}

.footer-meta-nav {
	@extend .meta-nav;
	padding: 48px 0 0 0;
 	position: inherit;

	@include breakpoint(baby-bear) {
		padding-top: 32px;
	}

}