@include keyframes(fadeinImage) {
  0% {
  	opacity:0;
    top:-10%;
    left:-10%;
	height:120%;	
  }
  10% {
    opacity:0.4;	
  }
  100% {
    opacity:0;
	height:170%;	
  } 
}

.portrait-wrapper{
	text-align:center;
	background-color:#f5f7fa;
	margin:120px auto 0;
}

.portrait-img-container{
	padding-bottom: 6px;
}

.portrait__header{
	@extend %header;
	color:#303133;
	font-size:48px;
	font-weight:800;
	letter-spacing:2px;
	@include breakpoint(mama-bear){
		font-size: 36px;
	}

	@include breakpoint(baby-bear){
		font-size: 24px;
	}
}

.portrait__intro-text > p, .portrait__body__details__text{
	width:960px;
	margin:0 auto 100px;
	font-family:$base-copy-font;
	color:#303133;
	font-size:30px;
	line-height:40px;
	padding:0 20px;
	// padding:0 20%;
	@include breakpoint(papa-bear){
		width:920px;
	}

	@include breakpoint(mama-bear){
		width:720px;
		font-size:24px;
		line-height:30px;
		margin-bottom:72px;
		padding:0;
	}

	@include breakpoint(teen-bear){
		width:100%;
		padding:0 20px;
	}

	@include breakpoint(baby-bear){
		
		font-size: 21px;
		padding:0 20px;
	}

}

.portrait__body{
	padding:60px 20px 100px;
	text-align: left;
	background-color:white;
	.portrait__body__details__list{
		@extend .cf;
		list-style:none;
		padding:0;
		margin:0 auto;
		max-width: 960px;
		@include breakpoint(mama-bear){
			width:100%;
			max-width: 640px;
		}
	}
	



	.portrait__body__details__list__item{
		float:left;
		width:45%;
		padding: 0 10px;
		margin:0 2.5%;
		
		@include breakpoint(mama-bear){
			width:100%;
			margin:0;
		}
	}
	
	.portrait__body__btn-container{
		text-align: center;
		margin-top: 30px;
	}
	
}

.portrait-content-header, .portrait-content-text{
	font-family:$base-copy-font;
	padding:0;
}

.portrait-content-header{
	margin:40px 0 0 0;
	font-size:11px;
	line-height: 16px;
	letter-spacing: 3px;
	font-weight:800;
	text-transform: uppercase;
}

.portrait-content-text{
	@extend .detail-content__body__row__column__text__copy;
	margin:5px 0;
}


.portrait__body__head{
	@extend .cf;
	max-width:1200px;
	margin:0 auto;
	padding:0 35px 100px;
	@include breakpoint(papa-bear){
		width:640px;
		margin:0 auto;
		float:none;
	}

	@include breakpoint(baby-bear){
		width:100%;
		padding:0 20px 100px;
	}	
}

.portrait__body__media{
	width:50%;
	padding-right:40px;
	float:left;
	height:100%;
	@include breakpoint(papa-bear){
		float:none;
		width:90%;
		margin:0 auto;
		height:auto;
		padding-right:0;
	}

	@include breakpoint(baby-bear){
		width:100%;
	}
}

.portrait__body__media__main-pic{
	width:100%;
	opacity:0.5;
}

.portrait__body__media__text{
	font-family:$base-copy-italic-font;
	font-size:18px;
	color:#c8c9cc;
	text-align:right;
	color:#909399;
	a, a:hover, a:active, a:visited{
		color:#969799;
	}
}

.tumblr-follow-btn{
	padding:0px 0 0 10px;
	width:179px;
	vertical-align:middle;
}

.portrait__body__details{
	width:50%;
	padding: 40px 0 020px;
	float:right;

	@include breakpoint(papa-bear){
		float:none;
		width:100%;
	}
}

.portrait__body__details__header{
	text-align:left;
	font-size:21px;
	line-height:30px;
	margin:0;
	width:640px;
	@include breakpoint(mama-bear){
		font-size: 18px;
	}	
}

.portrait__body__details__text{
	width:640px;
	text-align:left;
	font-size:21px;
	line-height:30px;
	padding:0;
	margin:0 0 1.5em;


	@include breakpoint(mama-bear){
		font-size: 18px;
		line-height:24px;
	}
	
	@include breakpoint(teen-bear){
		width: 100%;
	}

	@include breakpoint(baby-bear){
		width:100%;
		font-size: 16px;
	}
}

.portrait__body__media-wrapper{
	position:relative;
	padding-bottom: 100%;
	height: 0;
	z-index:800;
	overflow:hidden;

	#vid{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		background-color:#000;
	}
}

.portrait__body__media__pic-list{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

/*.portrait__body__media__pic-list__item{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
}

.portrait__body__media__pic-list__item__img{
	position:relative;
	display:block;
	z-index:810;
}

.portrait__body__media__pic-list__item--current{
	display:block;
	.portrait__body__media__pic-list__item__img{
		top:-10%;
		// left:-10%;
		opacity:0;
		height:120%;	
		animation:fadeinImage 10s;
	}
}*/


.portrait__body_media_pic-list__item--animate{
	.portrait__body__media__pic-list__item__img{
		// -webkit-animation-name:fadeinImage;
		// -moz-animation-name:fadeinImage;
		// -ms-animation-name:fadeinImage;
		// -o-animation-name:fadeinImage;
		// animation-name:fadeinImage;

		// -webkit-animation-duration:10s;
		// -moz-animation-duration:10s;
		// -ms-animation-duration:10s;
		// -o-animation-duration:10s;
		// animation-duration:10s;

		// -webkit-animation-timing-function:linear;
		// -moz-animation-timing-function:linear;
		// -ms-animation-timing-function:linear;
		// -o-animation-timing-function:linear;
		// animation-timing-function:linear;
	}
}

.clients-wrapper{
	padding:60px 0;
	background-color:#f5f7fa;
	margin-bottom:20px;

	.portrait-content-text{
		max-width:960px;
		margin:5px auto;
	}
}

.clients-wrapper__header{
	@extend %header;
	font-size:21px;
	margin:0;
}

.clients-list{
	@extend .cf;
	max-width:960px;
	margin:0 auto;
	padding:0 ;
	@include breakpoint(mama-bear){
		max-width:720px;
	}
}


.clients-list__item{
	float:left;
	display:block;
	width:16.6%;

	@include breakpoint(mama-bear){
		width:25%;
	}

	@include breakpoint(baby-bear){
		width:33.3%;
	}
}

.clients-list__item__img{
	width:100%;
}


.portrait-img{
	margin:0 auto;
	display:block;
	overflow:hidden;
	width:320px;
	height:320px;
	@include border-radius(50em);	
	@include box-shadow(0 0 0 6px #f5f7fa, 0 0 0 7px #e4e8ef);
	background-position: center center;
	background-size: 320px;
	@include breakpoint(mama-bear){
		width:360px;
		height:360px;
		background-size: 360px;
	}
	
	@include breakpoint(baby-bear){
		width:240px;
		height:240px;
		background-size: 240px;
	}

	img{
		width:100%;
	}
}


.portrait__body__section{
	position:relative;
	width:100%;
	overflow:hidden;
	padding:64px 0;
	h3{
		@extend %header;
		text-align: center;
		font-size:21px;			
	}
	p{
		width: 640px;
		font-size:21px;
		font-family:$base-copy-font;
		margin:0 auto 36px;
		@include breakpoint(mama-bear){
			padding:0 45px;
			font-size:18px;
		}

		@include breakpoint(teen-bear){
			width:100%;
		}

		
		@include breakpoint(baby-bear){
			width:100%;
			padding:0 20px;
			font-size: 16px;
			margin-bottom:21px;
		}
	}

	img{
		display:block;
		margin:0 auto;

		&.responsive{
			max-width: 100%;
			height: auto;
			width: auto;
		}
	}

}