/***************
*
*  Portrait
*
****************/


.portrait-wrapper{
  margin: 0 auto;
  width: 100%;
  padding-top: 120px;
}

.portrait-img-container{
	padding-bottom: 6px;
}

.portrait__header{
	@extend %header;
	color:#303133;
	font-size:48px;
	text-align: center;
	@include breakpoint(mama-bear){
		font-size: 36px;
	}

	@include breakpoint(baby-bear){
		font-size: 24px;
	}
}

.portrait__intro-text > p, .portrait__body__details__text{
	width:960px;
	margin:0 auto 100px;
	font-family:$copy-font;
	color:#303133;
	font-size:30px;
	line-height:40px;
	padding:0 20px;
	text-align: center;
	// padding:0 20%;
	@include breakpoint(papa-bear){
		width:920px;
	}

	@include breakpoint(mama-bear){
		width:720px;
		font-size:24px;
		line-height:30px;
		margin-bottom:72px;
		padding:0;
	}

	@include breakpoint(teen-bear){
		width:100%;
		padding:0 20px;
	}

	@include breakpoint(baby-bear){
		font-size: 21px;
		padding:0 20px;
	}

}

.portrait__body{
	padding:60px 20px 100px;
	text-align: left;
	background-color:white;
	.portrait__body__details__list{
		@extend .cf;
		list-style:none;
		padding:0;
		margin:0 auto;
		max-width: 960px;
		@include breakpoint(mama-bear){
			width:100%;
			max-width: 640px;
		}
	}
	



	.portrait__body__details__list__item{
		float:left;
		width:45%;
		padding: 0 10px;
		margin:0 2.5%;
		
		@include breakpoint(mama-bear){
			width:100%;
			margin:0;
		}
	}
	
	.portrait__body__btn-container{
		text-align: center;
		margin-top: 30px;
	}
	
}

.portrait-content-header, .portrait-content-text{
	font-family:$copy-font;
	padding:0;
}

.portrait-content-header{
	margin:40px 0 0 0;
	font-size:11px;
	line-height: 16px;
}

.portrait-content-text{
	@extend .detail-content__body__row__column__text__copy;
	margin:5px 0;
}


.portrait__body__details{
	width:50%;
	padding: 40px 0 020px;
	float:right;

	@include breakpoint(papa-bear){
		float:none;
		width:100%;
	}
}


// START Clients

.clients-wrapper{
	padding:60px 0;
	background-color:#f5f7fa;
	margin-bottom:20px;

	.portrait-content-text{
		max-width:960px;
		margin:5px auto;
	}
}


.clients-list{
	@extend .cf;
	max-width:960px;
	margin:0 auto;
	padding:0 ;
	@include breakpoint(mama-bear){
		max-width:720px;
	}
}


.clients-list__item{
	float:left;
	display:block;
	width:16.6%;

	@include breakpoint(mama-bear){
		width:25%;
	}

	@include breakpoint(baby-bear){
		width:33.3%;
	}
}

// END Clients


.portrait-img{
	margin:0 auto;
	display:block;
	overflow:hidden;
	width:320px;
	height:320px;
	@include border-radius(50em);	
	@include box-shadow(0 0 0 6px #f5f7fa, 0 0 0 7px #e4e8ef);
	background-position: center center;
	background-size: 320px;
	@include breakpoint(mama-bear){
		width:360px;
		height:360px;
		background-size: 360px;
	}
	
	@include breakpoint(baby-bear){
		width:240px;
		height:240px;
		background-size: 240px;
	}

	img{
		width:100%;
	}
}



