.work-wrapper{
	max-width: 1200px;
	margin:0 auto;
	width:100%;
	background-color:#f5f7fa;
	padding-top:80px;
}

// START Work Filter

.work-filter-menu{
	margin:80px 0;
	text-align:center;
	font-family:merriweatherlight_italic;
	@include breakpoint(teen-bear){
		margin:40px 0;
		padding:0 18px;
	}
}

.work-filter-menu__item{
	display:inline-block;
}

.work-filter-menu__item__link{
	@include transition-property(color);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-out);
	text-decoration:none;
	color:#c8c9cc;

	&:hover{
		color:#323233;
	}
}

.work-filter-menu__item__link--active{
	color:#323233;
	border-bottom:1px #323233 solid;
}

.work-filter-menu__item__separator{
	color:#c8c9cc;
}

// END Work Filter

// START Work List

.work-list{
	@extend .cf;
	padding: 0 20px;
	list-style:none;
}

.work-list__item{
	position:relative;
	float:left;
	width:49.5%;
	margin:0 0.5% 0.5% 0;
	padding-bottom: 48px;
}

 .work-list__item__link{
	transition: opacity 400ms ease-out;
	display:block;
	text-decoration: none;

		@include breakpoint(teen-bear){
		float:none;
		width:100%;
		margin:0 0 10%;
		padding-bottom: 0;
		}
}

 .work-list__item__link:hover{
    opacity: 0.8;
}

// Row Logic

.work-list__item:nth-of-type(2n+2){
	margin-right:0;
	margin-left:0.5%;

	@include breakpoint(teen-bear){
		margin-left:0;
	}
}

// Text

.work-list__item__info__header{
	@extend %header;
	padding: 12px 0 0 0;
	margin:0;
	font-weight:800;
	letter-spacing: 2px;
	width:auto;
	@include breakpoint(baby-bear){
    padding: 6px 0 0 0;
	}
}

.work-list__item__info__subtitle{
	margin:0;
	padding:0;
	line-height: normal;
	@include breakpoint(baby-bear){
		font-size:13px;
	}
}

// END Work List


