/***************
*
*  Work Overview
*
****************/


.work-wrapper{
	max-width: 1200px;
	margin:0 auto;
	width:100%;
	background-color:#f5f7fa;
	padding-top:120px;
}


// START Work List

.work-list{
	@extend .cf;
	padding: 0 20px;
	list-style:none;
}

.work-list__item{
	position:relative;
	float:left;
	width:45.75%;
	margin:0 4% 4% 0;
	padding-bottom: 48px;

	&:nth-child(odd) {
		clear: left;
	}

	@include breakpoint(baby-bear){
		width: 100%;
		margin: 0;
		padding-bottom: 0;

		&:nth-child(odd) {
			clear: none;
		}
	}
}

.work-list__item__img{
	width: 100%
}

// Row Logic

.work-list__item:nth-of-type(2n+2){
	margin-right:0;
	margin-left:0.5%;

	@include breakpoint(teen-bear){
		margin-left:0;
	}
}


 .work-list__item__link{
	transition: opacity 400ms ease-out;
	display:block;
	text-decoration: none;

		@include breakpoint(teen-bear){
		float:none;
		width:100%;
		margin:0 0 10%;
		padding-bottom: 0;
		}
}

 .work-list__item__link:hover{
    opacity: 0.8;
}



// Text

.work-list__item__info__header{
	@extend %header;
	padding: 12px 0 0 0;
	margin:0;
	width:auto;
	@include breakpoint(baby-bear){
    padding: 6px 0 0 0;
	}
}

.work-list__item__info__subtitle{
	margin:0;
	padding:0;
	font-size: 16px;
	@include breakpoint(baby-bear){
		font-size:13px;
	}
}

// END Work List





